.babe1{
    width: 100px;
    height: 100px;
    margin: 10px;
    background: greenyellow;
    border-radius: 50%;
}

.babe2{
    width: 100px;
    height: 100px;
    margin: 10px;
    background: blue;
    border-radius: 25%;
    
}