#shohratbaz{
    opacity: 0.6;
}

div.babe1{
    border: 5px solid black;
    border-radius: 50%;
    background: greenyellow;
}

article.babe1{
    border: 5px solid black;
    border-radius: 30%;
    background: rgb(178, 187, 165);
}

.babe2{
    border: 5px solid rgb(12, 48, 3);
    border-radius: 25%;
    background: blue;
}

.right{
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px black;
    color: white;
    text-align: center;
    font-size: 24px;
}